@font-face {
  font-family: "MaisonNeueWEB-Book";
  src: url("MaisonNeueWEB-Book.eot");
  src: url("MaisonNeueWEB-Book.eot?#iefix") format("embedded-opentype"),
    url("MaisonNeueWEB-Book.woff2") format("woff2"),
    url("MaisonNeueWEB-Book.woff") format("woff"),
    url("MaisonNeueWEB-Book.ttf") format("truetype"),
    url("MaisonNeueWEB-Book.svg#Font") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MaisonNeueWEB-Medium";
  src: url("MaisonNeueWEB-Medium.eot");
  src: url("MaisonNeueWEB-Medium.eot?#iefix") format("embedded-opentype"),
    url("MaisonNeueWEB-Medium.woff2") format("woff2"),
    url("MaisonNeueWEB-Medium.woff") format("woff"),
    url("MaisonNeueWEB-Medium.ttf") format("truetype"),
    url("MaisonNeueWEB-Medium.svg#Font") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
